body {
    font-family: Arial, sans-serif;
    background-color: #a94c4c4c;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Añadido para manejar desplazamiento horizontal en caso de contenido ancho */
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: auto; /* Añadido para manejar desplazamiento vertical en caso de contenido alto */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Añadido para prevenir el salto de línea en contenido largo */
}

th {
    background-color: #f2f2f2;
}
